
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:8000/groceries">Grocery+</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://localhost:8000/groceries">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Allergen Guide
            </a>
            <ul class="dropdown-menu">
              <li>
                
                <a class="dropdown-item" href="#">Suitable for you: <label class="rounded bg-success" style="padding:10px"></label></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Conains Allergens: <label class="rounded bg-danger" style="padding:10px"></label></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Not enough info for prediction: <label class="rounded bg-warning" style="padding:10px"></label></a></li>
            </ul>
          </li>
          <li>
          <form class="form-inline " action="/search">
            <div class="input-group ">
              <input name="q" type="text" class="form-control" placeholder="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
              </div>
            </div>
          </form>
        </li>
        </ul>
        <a class="nav-item btn btn-white border my-2 my-lg-0 mb-3"  href="http://localhost:8000/">Hello {{user.username}}!</a>
        <button type="button" class="btn btn-primary" onclick={window.location.replace("http://127.0.0.1:8000/signout")}>Sign-out</button>
       
      </div>
    </div>
  </nav>